<!DOCTYPE html>
<body>
    <p>Search Tweets by Keyword</p>
    <form action="/private/dashboard" method="post">
    <input name="content" type="text" placeholder="Search Tweets">
    <input name="posts_button" type="submit" value="search1">
</body>
<body>
        <p>Search Tweets by User</p>
        <form action="/private/dashboard" method="post">
        <input name="user" type="text" placeholder="Search Tweets">
        <input name="posts_button" type="submit" value="search2">
    </body>
<p>{{message}}</p>
<body>
    <h>---POSTS---</h>
    <form action="/private/dashboard" method="post">
    {% for item in posts %}
        <p>"{{item}}"</p>
        <input name="posts_button" type="submit" value="Repost {{item['pk']}}">
        <!--<input type="hidden" name="ID" value="this is {{item}}">-->
    {% endfor %}
</body>
<p><a href="/private/account">Back To Account</a></p>